*{
    
}

.login{
    position: absolute;
    margin-left: 35% ;
    margin-top: 8%;
    width: 425px
}

img{
    background-color: #222;
    max-height:720px ;
    filter:blur(5px);
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: 1rem;

    

}
